header {
    background: #bbbbbb;
    padding: 20px;
}

nav {
    position: absolute;
    top: 100px;
    right: 0px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav a{
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

nav ul li{
    display: inline;
    margin: 0 0 0 25px;
}
