header {
    background: #bbbbbb;
    padding: 20px;
}

/* usando o position absolute, podemos alterar a localização dos itens que estiverem dentro da tag nav, dessa forma definimos que os itens ficarao no top 100 e right 0 */
nav {
    position: absolute;
    top: 100px;
    right: 0px;
    
}

/* usando o position relative, podemos definir a posicao como em relação a algum item, no caso usa o item que esta em posição absoluta. 
o campo margin é usado para definir uma borda externa e nesse caso o auto foi para identificar automaticamente a largura da pagina e completar, colocando o conteudo do site
na metade da tela */
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    
}


/* o text decoration serve para retirar dos links o sublinhado que vem por padrao do navegador. o text transform é usado para definir os itens como maiusculas e por fim o font-weight serve para definir o peso do texto, ou seja, para dar enfase ao texto */
nav a{
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    
}

nav a:hover{
    color: #c79c18;
    text-decoration: underline;
}

nav ul li{
    display: inline;
    margin: 0 0 0 25px;
}

/* coloca uma margem interna apenas na classe titulo principal para que fique espaçado pela esquerda */
.titulo-principal {
    padding-left: 20px;
}

/* colocando como plano de fundo uma cor cinza apnas na classe .principal e adiciona uma margem interna em todo o conteudo dessa classe*/
.principal {
    background: #CCCCCC;
    padding: 30px
}

/* define que a imagem deve ocupar 100% da largura da tela */
#banner {
    width: 100%;
}

/* define que o texto da classe titulo secundario deve ficar centralizado */
.titulo-secundario {
    text-align: center;
}

/* defique que todos os paragrafos devem ficar centralizados */
p {
    text-align: center;
}

/* os itens que estiverem classificados com o id missao terao como tamanho 20px */
#missao {
    font-size: 20px
}

/*  os itens que estiverem dentro das tags strong que estiverem dentro das tags em terão como cor o vermelho */
em strong {
    color: #ff0000;
}

/* os itens que estiverem dentro da classe beneficios terao o fundo da tela branco e um espaçamento interno de 20px */
.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

/* a lista nao ordenada, serao alinhada no topo, com espaçamento a direita de 15%, ocupando 20% da tela e será exibido em inline block, que permite que itens fiquem em lista e ao lado um do outro */
.itens-beneficios {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding-right: 15%;
}

/* os itens da classe itens, serao formatados em italico */
.itens {
    font-style: italic;

}

/* a imagem ocupara 50% da tela */
.imgBeneficios {
    width: 50%;
}