
.beneficios {
    padding: 20px;
    margin-top:30px;
}

.itens-beneficios {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding-right: 15%;
}

.itens {
    font-style: italic;
}
